@model AnnouncementModel
@{
    ViewData["Title"] = "Announcement Details";
}
@section styles
{<link rel="stylesheet" href="~/css/details.css" type="text/css"/>}
<h1>@Model.Title</h1>
<p>@Model.Text</p>
<p>Sorumlu Kişi: @Model.ResponsiblePerson</p>
<p>Duyuru Tarihi : @Model.AnnouncementDate.ToString("g")</p>

<a href="@Url.Action("Index")">Duyurulara Geri Dön</a>

<footer>
    <div>Developer: Şule Cengiz, Student ID: b221202018</div>
</footer>
