@model List<AnnouncementApp.Models.AnnouncementModel>
@section styles
{<link rel="stylesheet" href="~/css/index.css" type="text/css"/>}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <title>Duyurular</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <h1>Hoş Geldiniz</h1>
    <h3 class="duyuru">Duyurular</h3>
    <p class="duyuru">Toplam Duyuru Sayısı: @ViewBag.TotalAnnouncements</p>
    <div class="date"><p>Güncel Tarih: @ViewBag.CurrentDateTime</p></div>

    <table>
        <thead>
            <tr>
                <th>Başlık</th>               
                <th>Sorumlu Kişi</th>
                <th>Tarih</th>
                <th>Detaylar</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count > 0)
            {
                foreach (var announcement in Model)
                {
                    <tr>
                        <td>@announcement.Title</td>        
                        <td>@announcement.ResponsiblePerson</td>
                        <td>@announcement.AnnouncementDate.ToString("g")</td>
                        <td><a href="@Url.Action("Details", new { id = announcement.Id })">Detaylar</a></td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5">Henüz duyuru yok.</td>
                </tr>
            }
        </tbody>
    </table>

    <a href="@Url.Action("Create")">Yeni Duyuru Ekle</a>
    <footer> <div class="footer">
        Developer: Şule Cengiz, Student ID: b221202018
    </div></footer>
</body>
</html>
