@model List<AnnouncementApp.Models.AnnouncementModel>
@{
    ViewData["Title"] = "Anouncements";
}
@section styles
{<link rel="stylesheet" href="~/css/index.cs" type="text/css"/>}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <title>Duyurular</title>
</head>
<body>
    <h1>Duyurular</h1>
    <p>Toplam Duyuru Sayısı: @ViewBag.TotalAnnouncements</p>
    <p>Güncel Tarih: @ViewBag.CurrentDateTime</p>

    <table>
        <thead>
            <tr>
                <th>Başlık</th>               
                <th>Sorumlu Kişi</th>
                <th>Tarih</th>
                <th>Detaylar</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count > 0)
            {
                foreach (var announcement in Model)
                {
                    <tr>
                        <td>@announcement.Title</td>        
                        <td>@announcement.ResponsiblePerson</td>
                        <td>@announcement.AnnouncementDate.ToString("g")</td>
                        <td><a href="@Url.Action("Details", new { id = announcement.Id })">Detaylar</a></td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5">Henüz duyuru yok.</td>
                </tr>
            }
        </tbody>
    </table>

    <a href="@Url.Action("Create")">Yeni Duyuru Ekle</a>
    <footer> Developer: Şule Cengiz</footer>
</body>
</html>
